[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
autoflake = "*"
black = "==18.9b0"
flake8 = "*"
isort = "*"
mypy = "==0.660"
pep8-naming = "*"
py-spy = "*"
pylint = "*"

[packages]
aiohttp = "*"
async-lru = "*"
blosc = "*"
compressed-segmentation = ">=1.0.0"
jpeg4py = "*"
numpy = "*"
Pillow = "*"
sanic = "*"
sanic_cors = "*"

[requires]
python_version = "3.7.2"

[scripts]
main = "python -m wkconnect"
lint = '''
    bash -c " \
        pylint --errors-only --jobs 0 wkconnect benchmarks stubs && \
        flake8 wkconnect benchmarks stubs \
    "
'''
pretty = '''
    bash -c " \
        autoflake \
            --in-place --recursive \
            --remove-all-unused-imports --remove-unused-variables \
            wkconnect benchmarks stubs && \
        black wkconnect benchmarks stubs && \
        isort --recursive wkconnect benchmarks stubs \
    "
'''
pretty-check = '''
    bash -c " \
        black --check wkconnect benchmarks stubs && \
        isort --check-only --recursive wkconnect benchmarks stubs \
    "
'''
type-check = '''
    bash -c " \
        MYPYPATH=\"$(pipenv --venv)/lib/python3.7/site-packages/:stubs\" \
        mypy \
            --disallow-untyped-defs \
            wkconnect benchmarks \
    "
'''
