[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
mypy = "*"

[packages]
aiohttp = "*"
numpy = "*"
Pillow = "*"
sanic = "*"
sanic_cors = "*"
async-lru = "*"

[requires]
python_version = "3.7.2"

[scripts]
main = "python -m pyDatastore"
pretty = "black pyDatastore"
pretty-check = "black --check pyDatastore"
lint = "pylint --errors-only --jobs 0 pyDatastore"
lint-details = "pylint --jobs 0 pyDatastore"
type-check = 'bash -c "MYPYPATH=\"$(pipenv --venv)/lib/python3.7/site-packages/\" mypy pyDatastore"'

[pipenv]
allow_prereleases = true
