[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
mypy = "*"
py-spy = "*"

[packages]
aiohttp = "*"
async-lru = "*"
compressed-segmentation = ">=1.0.0"
jpeg4py = "*"
numpy = "*"
Pillow = "*"
sanic = "*"
sanic_cors = "*"

[requires]
python_version = "3.7.2"

[scripts]
main = "python -m py_datastore"
pretty = "black py_datastore benchmarks"
pretty-check = "black --check py_datastore benchmarks"
lint = "pylint --errors-only --jobs 0 py_datastore benchmarks"
lint-details = "pylint --jobs 0 py_datastore benchmarks"
type-check = '''
    bash -c " \
        MYPYPATH=\"$(pipenv --venv)/lib/python3.7/site-packages/\" \
        mypy \
            --disallow-untyped-defs \
            py_datastore"
'''

[pipenv]
allow_prereleases = true
